
body {
    font-size: 3vw;
    font-family: "Georgia Pro";
    text-align: center;
}

#submission p {
    margin: 0 auto;
}

#submission input, #tips input {
    font-size: 2.5vw;
    font-family: "Georgia Pro";
    margin: 0.5vw;
    border-radius: 1vw;
}

#input_box {
    height: 7vw;
    width: 60%;
    text-align: center;
}

#submit_button, #tips input {
    height: 4vw;
    width: 45%;
}

#submit_button:hover, #tips input:hover {
    background-color: #ddd;
}


#output_box {
    color: #000;
    width: 50%;
    margin: 0 auto;
}


#further_information, #tips {
    font-size: 1.5vw;
    margin: 2vw;
    border: 1px solid #000;
    border-radius: 1vw;
    background-color: #eee
}

#further_information p, #tips p {
    width: 60%;
    margin: 2vw auto;
    text-align: left;
}

#further_information img {
    max-width: 60%;
}

#tips p {
    font-size: 2vw;
    text-align: center;
}

#tips input {
    font-size: 2vw;
}